
:root{
  --body-text-color: #434455;
  --white-background-color:#FFFFFF;
  --modal-background-color: #FCFCFC;
  --modal-overlay-color: #2E2F42;
  --hero-background-color: #2E2F42; 
  --primary-brand-color: #4D5AE5;
  --pressed-state-color: #404BBF;
  --dark-overlays-shadows-color:#2E2F42;
  --success-color: #31D0AA;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-mode-color: #F4F4FD;}

body {
  background-color: var(--white-background-color);
  color: var(--body-text-color);
  font-weight: 400;
  letter-spacing: 0.03em;
  margin:0;
  font-family: 'Roboto', sans-serif,'Raleway', sans-serif;}

  h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;}

a {text-decoration: none;}  

ul, ol {list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

button {
cursor: pointer;
}

img {display: block;}

.web-logo, .studio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
text-transform: uppercase;}

.web-logo {color:var(--primary-brand-color);}

.studio-logo {color: var(--body-text-color);}

.navigation-link { 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--hero-background-color);
letter-spacing: 0.02em;
}

.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
font-style: normal;
color: var(--body-text-color);
letter-spacing: 0.02em;
}

.navigation-link:hover, .navigation-link:focus {
color: var(--pressed-state-color);
}

.contacts-link:hover, .contacts-link:focus {
color: var(--pressed-state-color);
}

.main-header {
 border-bottom: 1px solid #e7e9fc;
}

.hero {
  background-color: var(--hero-background-color);
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--white-background-color);
}

.action-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white-background-color);
background-color: var(--primary-brand-color);
border: 1px transparent;
}

.action-button:hover,
.action-button:focus {
  background-color: #404bbf;
}

.action-button:active {
background-color: #404bbf;
}

.principels-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--hero-background-color);
}

.principels-meaning {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);
}

.team { background-color: var(--light-mode-color);}

.team-section {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--hero-background-color);
}

.team-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--hero-background-color);
}

.job-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);
}

.portfolio-section {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--hero-background-color);
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--hero-background-color);
}

.portfolio-name {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);
}

.garage {background-color: var(--hero-background-color);}

.garage-web {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-brand-color);
}

.garage-studio {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--light-mode-color);
}

.garage-info { 
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--light-mode-color);
}


.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-navigation {
  display: flex;
  align-items: center;
}

.main-navigation {
display: flex;
align-items: center;
margin-right: 332px;
}

.navigation {
  display: flex;
  gap: 40px;
}
 
.web-logo {margin-right: 76px;}

.navigation-link {
  display: block;
  padding: 24px 0;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contacts-link {
  padding: 24px 0;
}

.hero {
text-align: center;
padding-top: 188px;
padding-bottom: 188px;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} 

.hero-title {
  margin-right: auto;
  margin-left: auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.action-button {
  border-radius: 4px;
  padding: 16px 32px; 
}

.section-principels {
  padding: 120px 0;
}

.container-principels {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.principels-list {
  display: flex;
  gap: 24px;
}

 .principels-item {
  width: calc((100% - 72px) / 4);  
}

.principels-title {
  margin-bottom: 8px;
}

.team {
  padding: 120px 0;
}

.container-team {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.team-section {
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--white-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-meaning {
  padding: 32px 0;
}

.team-title {
 text-align: center;
 margin-bottom: 8px;
}

.job-title {
  text-align: center;
}

.Portfolio {
  padding: 120px 0;
}

.container-portfolio {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

.portfolio-section {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.wraper{
  padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.garage {
  padding: 100px 0;
}

.container-garage {
  width: 1158px;
  margin-left: 156px;
  padding: 0 15px; 
}

.garage-info {
  margin-top: 16px;
  width: 264px;
}