
:root{
  --body-text-color: #434455;
  --white-background-color:#FFFFFF;
  --modal-background-color: #FCFCFC;
  --modal-overlay-color: #2E2F42;
  --hero-background-color: #2E2F42; 
  --primary-brand-color: #4D5AE5;
  --pressed-state-color: #404BBF;
  --dark-overlays-shadows-color:#2E2F42;
  --success-color: #31D0AA;
  --subtle-text-color: #8E8F99;
  --accent-color: #E7E9FC;
  --light-mode-color: #F4F4FD;}

body {
  background-color: var(--white-background-color);
  color: var(--body-text-color);
  font-weight: 400;
  letter-spacing: 0.03em;
  margin:0;
  font-family: 'Roboto', sans-serif,'Raleway', sans-serif;}

  h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;}

a {text-decoration: none;}  

ul, ol {list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;}

button {
cursor: pointer;
}

img {display: block;}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.web-logo, .studio-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
text-transform: uppercase;}

.web-logo {
  color:var(--primary-brand-color);
  margin-right: 76px;
}

.studio-logo {color: var(--body-text-color);}

.container-navigation {
  display: flex;
  align-items: center;
}

.main-navigation {
  display: flex;
  align-items: center;
  margin-right: 332px;
  }

.navigation {
display: flex;
gap: 40px;
}

.navigation-link { 
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--hero-background-color);
letter-spacing: 0.02em;
display: block;
padding: 24px 0;
}

.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
font-style: normal;
color: var(--body-text-color);
letter-spacing: 0.02em;
padding: 24px 0;
}


.navigation-link:hover, .navigation-link:focus {
color: var(--pressed-state-color);
}

.contacts-link:hover, .contacts-link:focus {
color: var(--pressed-state-color);
}

.contacts {
display: flex;
gap: 40px;
}

.main-header {
 border-bottom: 1px solid #e7e9fc;
}

.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  padding: 188px 0;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--white-background-color);
margin-right: auto;
margin-left: auto;
max-width: 496px;
margin-bottom: 48px;
}

.action-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white-background-color);
background-color: var(--primary-brand-color);
border: none;
border-radius: 4px;
padding: 16px 32px; 
}

.action-button:hover,
.action-button:focus {
  background-color: #404bbf;
}

.action-button:active {
background-color: #404bbf;
}

.section-principels {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

.principels-list {
    display: flex;
    gap: 24px;
  }

  .principels-item {
    width: calc((100% - 72px) / 4);  
  }

.principels-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--hero-background-color);
margin-bottom: 8px;
}

.principels-meaning {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);
}

.team { 
  background-color: var(--light-mode-color);
  padding: 120px 0;
}

.team-section {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--hero-background-color);
text-align: center;
margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--white-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-meaning {
  padding: 32px 0;
}

.team-title { 
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--hero-background-color);
text-align: center;
margin-bottom: 8px;
}



.job-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);
text-align: center;
}

.portfolio {
padding: 120px 0;
}

.portfolio-section {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--hero-background-color);
text-align: center;
margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.wraper{
  padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--hero-background-color);
margin-bottom: 8px;
}

.portfolio-item {
width: calc((100% - 48px) / 3);
}


.portfolio-name {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--body-text-color);
}

.garage {background-color: var(--hero-background-color);}

.garage-web {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-brand-color);
}

.garage-studio {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--light-mode-color);
}

.garage-info { 
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--light-mode-color);
}



.garage {
  padding: 100px 0;
}

.garage-web .garage-studio {
  display: inline-block;
  margin-bottom: 16px;
}

.garage-info {
  max-width: 264px;
}